.root{
    -fx-background-color: #ffffff;  /* white */
}

.label.title {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: #d90000; /* dark red */
}

.label.value-label{
    -fx-font-size: 12pt;
    -fx-font-style: italic;
    -fx-text-fill: #000000; /* black */
}

.label.diagnosis-label{
    -fx-font-size: 14pt;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: green; /* black */
    -fx-text-alignment: center;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #d90000; /* dark red */
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #a1a1a1;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.axis {
    /*-fx-tick-label-color: black;*/ /* Doesn't work, I hardcoded it */
    -fx-tick-label-font-size: 10pt;
    -fx-tick-label-font-weight: bold;
}

.axis-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.axis-minor-tick-mark {
    -fx-stroke: #a1a1a1;
    -fx-stroke-width: 0.5;
}

.menu-button, .button {
    -fx-font-weight: bold;
    -fx-label-padding: 5px;
}